th
{
    font-weight: 300;
}

@keyframes slideModalIn
{
    from {transform: translateX(100vw);}
    to {transform: translateX(0vw);}
}

@keyframes slideModalOut
{
    from {transform: translateX(0vw);}
    to {transform: translateX(100vw);}
}
